@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');

body {
    margin: 0;
    font-family: 'Catamaran', sans-serif;
    /* background-color: #457b9d; */

    
}

code {
    font-family: 'Catamaran', sans-serif;
}
