/* Resetting some default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Ensuring a box-sizing border-box model for easier layout */
* {
    box-sizing: border-box;
}

.custom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px; /* Set a maximum width for your container */
    margin: 0 auto; /* Center the container on the page */
}

.custom-arrow-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; Remove or adjust this line */
}

.custom-arrow {
    margin: 10px 0;
}

.custom-content {
    flex: 3;
}

.typed-content {
    text-align: center;
    font-size: 35px;
    color: #4b6cb7;
    font-weight: bold;
    margin: auto;
    margin-top: 5px;
}

/* Media queries for responsiveness */
@media screen and (max-width: 1020px) {
    .typed-content {
        font-size: 26px;
        margin-top: 2rem;
    }

    .custom-arrow {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .typed-content {
        font-size: 26px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .typed-content {
        font-size: 24px;
    }

    .custom-arrow {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .typed-content {
        font-size: 25px;
    }

    .custom-arrow {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .typed-content {
        font-size: 16px;
    }
}

@media screen and (max-width: 360px) {
    .typed-content {
        font-size: 14px;
    }
}

@media screen and (max-width: 256px) {
    .typed-content {
        font-size: 12px;
    }
}
