.nav-design {
        background: linear-gradient(to left, #47608f, #000000);
}

.nav-design:hover {
        background: linear-gradient(to right, #47608f, #000000);
}

.link-text {
        color: white;
}